*{
    margin: 0;
    padding: 0;
}
/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* banner area */
.banner-area{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #2D25A0;
    padding: 153px 140px 86px;

}
 .banner-content h2{
    font-size: 64px;
    color: white;
    line-height: 86px;
    margin-bottom: 27px;


 } 

 .banner-content a{
    text-decoration: none;
    
    color: white;
    padding:10px 24px 10px 24px;
    animation: pulse 1s infinite;


}


.banner-img img{
    width: 556px;
    height: 438px;

}
/* slide-img  */
.slide-section{
    display: flex;
    margin-top: 30px;
   
    
    
}
.slide-img img{
    height: 300px;
    width: 300px;
   

}
.slide .marquee-img img{
    height: 300px;
    width: 300px;
    animation: marquee 2s linear ease in infinite;

}

/* ------------
main
---------- */
.players{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.player{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 37px;
    grid-column-gap: 37px;
    
    
}

.card-player{
    width: 330px;
    height: 445px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    
}
.card-player:hover{
    transform: scale(1.1);
    transition: 1s;

}
.card-player img{
    width: 330px;
    height: 256px;
    justify-content: center;

}
.card-player h3{
    font-weight: bold;
    font-size: 28px;
}
 .card-player .player-info{
    font-size: 16px;
    line-height: 26px;
    

}

/* slide-section */

/* highlite-blog  */


.highlite-blog{
    display: flex;
    justify-content: space-around;
    padding: 156px;   

}
.highlite-content{
    width: 466px;
    

} 
.highlight-title{
    color: black;
    font-size: 48px;
    margin-bottom: 10px;
}
.highlite-content p{
    margin-bottom: 40px;
}
 .highlite-img img{
    width: 567px;
    height: 427px;

    
}
.highlite-content .highlite-link{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    
   
    padding:10px 24px 10px 24px;

}

/* leauge number */
.leauge-number{
    background-color: navy;
    padding: 40px;
    margin-bottom: 35px;
    text-align: center;
   
   
}
.leauge-number h3{
    
    color: lightsteelblue;
    font-size: 30px;

}

.numbers{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 40px;
    color: white;
    text-align: center;
}
.number h4{
    font-size: 40px;
}

.number.one{
    color: lightpink;
    
}
.number.two{
    color: palegoldenrod;
}
.number.three{
    color: lightsalmon;
}
.number.four{

    color: palegreen;
}
.leauge-number a{
    
    text-decoration: none;
    color: white;
    background-color: lightsteelblue;
    padding: 10px 15px;
    border-radius: 25px;
}

/* footer */
footer{
    text-align: center;
   margin-bottom: 10px;
}
.footer-logo{
    width: 483px;
    height: 110px;

}
 footer p .font-icon{
    color: #E02C6D;
    font-size: 32px;
    
}
footer h3{
    font-size: 18px;
}


/* link animation */

  
@keyframes pulse {
    
   
    100% {
      background-color: steelblue;
    }
  }


  /* marquee  animation*/
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  




  /* responsive for phone */

  @media only screen and (max-width: 668px) {
    
/* banner section */
    .banner-area{
      
       
        flex-direction: column;
        width: 335px;
        padding: 40px;
      
       
      
    }
    .banner-content{
        margin-left: 40px;
    
    }
.banner-content h2{
    margin-top: 0;
    line-height: 56px;
    color: white;
    font-size: 40px;
}


.banner-img img{
    margin-top: 45px;
    width: 80%;
    
    

}
/* slide marquee  */

.slide-section{
    margin-top: 45px;

}

.slide-img img {
   height: 200px;
   width: 180px;
   
}
.slide .marquee-img img{
    height: 200px;
   width: 205px;

}

/* players */
.player, .highlite-blog, .highlite-img, footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 20px;

}
.player{
    margin-left: 5px;
}
.card-player{
    margin-top: 5px;
}




/* highlite-blog */
.highlite-blog{
    margin-top: -100px;
  
}

.highlite-content{
   width: 80%;
   text-align: center;
   margin-left: 57px;
   padding: 30px;
   box-sizing: border-box;
   
    
}
.highlite-content p{
    margin-bottom: 20px;

}
.highlite-blog .highlite-img img{
    width: 400px;
    height: 360px;
    margin-bottom: 20px;
}
.highlite-img{
    margin-bottom: -210px;

}



/* leauge-number */
.leauge-number{
    margin-top: 40px;
    
}
.numbers{
    flex-direction: column;
    line-height: 60px;
}
/* footer */
footer{
    margin-bottom: 300px;
    margin-left: 30px;




}
 .footer-logo {


margin-top: 110px;
    /* text-align: center; */
    width: 350px;
    margin-left: -13px;

}

   
  }