
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.banner-area{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #2D25A0;
    padding: 153px 140px 86px;

}
  h2{
    font-size: 64px;
    color: white;
    line-height: 86px;
    margin-bottom: 27px;


 } 

 a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    
    padding:10px 24px 10px 24px;


}
.banner-img img{
    width: 556px;
    height: 438px;

}

/* ------------
main
---------- */
.players{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.player{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 37px;
    grid-column-gap: 37px;
    
    
}

.card-player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    
}
.card-player:hover{
    transform: scale(1.1);
    transition: 1s;

}
.card-player img{
    width: 330px;
    height: 256px;
    justify-content: center;

}
.card-player h3{
    font-weight: bold;
    font-size: 28px;
}
 p{
    font-size: 16px;
    line-height: 26px;
    /* text-align: justify; */

}


/* highlite-blog  */


.highlite-blog{
    display: flex;
    justify-content: space-around;
    padding: 156px;   

}
.highlite-content{
    width: 466px;
    

} 
.highlight-title{
    color: black;
    font-size: 48px;
}

 .highlite-img img{
    width: 567px;
    height: 427px;

    
}

/* footer */
footer{
    text-align: center;
}
.footer-logo{
    width: 483px;
    height: 110px;

}

footer h3{
    font-size: 18px;
}